body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

header {
  margin-bottom: 30px;
  padding: 20px;
}

.navbar {
  background-color: #e2edff;
}

.navbar-brand,
.nav-link {
  font-family: "Edu AU VIC WA NT Hand", cursive;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.sambutan-kepala-sekolah {
  text-align: center;
  margin-bottom: 30px;
  background-color: #e2edff;
}

.sambutan-kepala-sekolah h2 {
  margin-bottom: 20px;
}

.sambutan-kepala-sekolah img {
  max-width: 100%;
  height: auto;
}

main {
  padding: 20px;
  margin-top: 30px;
}

.visi-misi {
  background-color: #e2edff;
  padding: 20px;
  border-radius: 10px;
}

.visi-misi h3 {
  margin-top: 20px;
  margin-bottom: 10px;
}

.visi-misi ul {
  list-style-type: disc;
  margin-left: 20px;
}

.fasilitas-sekolah .card-body i {
  color: #007bff;
}

.map-container {
  height: 300px;
}

/* gallery */
.gallery-frame {
  border: 1px solid #ddd;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.gallery-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  border-radius: 5px;
}

.gallery-image {
  width: 100%;
  height: 250px;
  object-fit: cover;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  border-radius: 5px 5px 0 0;
}
.gallery-image:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}
.gallery-caption {
  padding: 10px;
  text-align: center;
  font-size: 14px;
  color: #555;
  background-color: #f8f8f8;
  border-top: 1px solid #ddd;
  border-radius: 0 0 5px 5px;
}

footer {
  background-color: #e2edff;
}
